.body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.button {
  background: $(theme.palette.error.main);
  color: $(theme.palette.error.contrastText);
  -mui-mixins: theme.typography.h5;
  padding: 5su;
}

.button:hover {
  background: $(theme.palette.error.light);
}

@media $(theme.breakpoints.down("xs")) {
  .button {
    color: $(theme.palette.error.contrastText);
    -mui-mixins: theme.typography.h6;
    padding: 2su;
  }
}
